doctype html
head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	link(rel='apple-touch-icon' sizes='76x76' href='../assets/img/apple-icon.png')
	link(rel='icon' type='image/png' href='../assets/img/favicon.png')
	title=title ? title : 'Giặt là 83'
	// Fonts and icons
	link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700')
	// Nucleo Icons
	link(href='../assets/css/nucleo-icons.css' rel='stylesheet')
	link(href='../assets/css/nucleo-svg.css' rel='stylesheet')
	// Font Awesome Icons
	script(src='https://kit.fontawesome.com/42d5adcbca.js' crossorigin='anonymous')
	// Material Icons
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Round' rel='stylesheet')
	// CSS Files
	link#pagestyle(href='../assets/css/material-dashboard.css?v=3.0.0' rel='stylesheet')
body.bg-gray-200
	main.main-content.mt-0
		.page-header.align-items-start.min-vh-100(style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');")
			span.mask.bg-gradient-dark.opacity-6
			.container.my-auto
				.row
					.col-lg-4.col-md-8.col-12.mx-auto
						.card.z-index-0.fadeIn3.fadeInBottom
							.card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
								.bg-gradient-primary.shadow-primary.border-radius-lg.py-3.pe-1
									h4.text-white.font-weight-bolder.text-center.mt-2.mb-0 Đăng nhập
							.card-body
								if hasErrors && messages
									each mess in messages
										.alert.alert-danger.alert-dismissible.text-white(role='alert')
											span.text-sm=mess
											button.btn-close.text-lg.py-3.opacity-10(type='button' data-bs-dismiss='alert' aria-label='Close')
												span(aria-hidden='true') &times;
								form.text-start(role='form' method='post' action=`/login${returnUrl ? `?returnUrl=${returnUrl}` : ''}`)
									.input-group.input-group-outline.my-3
										label.form-label Tên tài khoản
										input.form-control(type='text' name='username')
									.input-group.input-group-outline.mb-3
										label.form-label Mật khẩu
										input.form-control(type='password' name='password')
									.text-center
										button.btn.bg-gradient-primary.w-100.my-4.mb-2(type='submit') Đăng nhập
									p.mt-4.text-sm.text-center
										| Chưa có tài khoản?
										a.text-primary.text-gradient.font-weight-bold(href='/signup') Đăng kí
	// Core JS Files
	script(src='../assets/js/core/popper.min.js')
	script(src='../assets/js/core/bootstrap.min.js')
	script(src='../assets/js/plugins/perfect-scrollbar.min.js')
	script(src='../assets/js/plugins/smooth-scrollbar.min.js')
	script.
		var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
			var options = {
				damping: '0.5'
			}
			Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
		}
	// Github buttons
	script(async='' defer='' src='https://buttons.github.io/buttons.js')
	// Control Center for Material Dashboard: parallax effects, scripts for the example pages etc
	script(src='../assets/js/material-dashboard.min.js?v=3.0.0')
