.card-body.px-0.pb-2
	.table-responsive.p-0
		table.table.align-items-center.justify-content-center.mb-0
			thead
				tr
					th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Tên/địa chỉ/SĐT
					th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Tổng tiền
					th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Trạng thái
					th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Ghi chú
					th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.text-center.opacity-7.ps-2 Hoàn thành
					th
			tbody
				each order in orders ? orders : dashboard && dashboard.orders ? dashboard.orders : []
					tr
						td
							a(href='/order/' + order.id)
								.d-flex.px-2.py-1
									div
										img.avatar.avatar-sm.me-3.border-radius-lg(src='/assets/img/no-avatar.png' alt=order.customer.fullName)
									.d-flex.flex-column.justify-content-center
										h6.mb-0.text-sm=order.customer.fullName
										p.text-xs.text-secondary.mb-0=`${order.customer.address}/${order.customer.phone}`
						td
							a(href='/order/' + order.id)
								p.number.text-sm.font-weight-bold.mb-0=order.total
								p.text-xs.text-secondary.mb-0.timeText=order.status[0].time
						td
							a(href='/order/' + order.id)
								span.text-xs.font-weight-bold=order.status[0].stt.name
						td
							a(href='/order/' + order.id)
								span.text-xs.font-weight-bold=order.note
						td.align-middle.text-center
							.d-flex.align-items-center.justify-content-center
								span.me-2.text-xs.font-weight-bold=order.status[0].stt.id * 10 + '%'
								div
									.progress
										.progress-bar(class=`${order.status[0].stt.id < 5 ? 'bg-gradient-danger' : order.status[0].stt.id < 8 ? 'bg-gradient-info' : 'bg-gradient-success'}` role='progressbar' aria-valuenow=order.status[0].stt.id * 10 aria-valuemin='0' aria-valuemax='100' style=`width: ${order.status[0].stt.id * 10}%;`)
						td.align-middle
							button.btn.btn-link.text-secondary.mb-0
								i.fa.fa-ellipsis-v.text-xs
